@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info {
  font-family: "DotGothic16", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100;
  border: 3px solid;
  border-color: black;
  background-color: #c4c4c4;
  grid-column: 2;
  margin: 25px;
  font-size: 200%;
  padding-left: 25px;
  height: 12em;
  justify-content: space-around;
}

header {
  background-color: black;
}

footer {
  background-color: black;
}


body {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  width: 100vw;
  height: 100vh;
  background-color: blue;
  background-size: 100%;
}

footer h1 {
  color: white;
  display: flex;
  font-family: "DotGothic16", sans-serif;
  padding-top: 10px;
  padding-left: 20px;
}

form input {
  border-radius: 8px;
  border: 2px solid gray;
  background-color: #c4c4c4;
  font-family: "DotGothic16", sans-serif;
  font-size: 21px;
}

.sprite {
  margin: auto;
  grid-column: 1;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.middlemain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.eevee {
  grid-column: 1;
}

.text {
  grid-column: 2;
}

.pikachu {
  grid-column: 3;
}

.welcome {
  display: flex;
  justify-content: center;
  font-family: "DotGothic16", sans-serif;
  color: white;
  text-align: center;
  font-size: 135%;
}

.button0 a {
  display: flex;
  font-size: 60px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DotGothic16", sans-serif;
}

.button1 a {
  display: flex;
  justify-content: left;
  margin-left: 25px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  font-family: "DotGothic16", sans-serif;
}

.homemain {
  font-size: 120%;
  max-width: 50%;
  margin: auto;
}
